/*
Colors:

Text: 1A1A1A
Green: #00B172
White: #FFF

*/


@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500&display=swap');



   body {
        font-family: 'Quicksand', sans-serif;
        font-size: 1rem;
        padding:  auto;
        margin: auto;
        
    }
  

    #header{
        display: flex;
        width: 100%;
        position: fixed;
        background-color: #fff;
        justify-content: space-between;
    }
    
    .spotify-logo {
        width: 300px;
        padding: 10px 0 20px 10px;
    }
    
    .navegation {
       width: 40%;
    }
    .navegation ul{
        list-style: none;

    }
    .navegation ul li{
        float: left;
        padding: 1.5%;
    }

    .navegation ul li a{
        text-decoration: none;
        font-size: 1em;
        color: #000;
    }
    
    #section1 h1 {
        text-align: center;
        color: #fff;
        font-size: 60px;
        position: absolute;
        top:30%;
        width: 100%;
    }

    #section1 p{
        width: 100%;
        text-align: center;
        color: #fff;
        position: absolute;
        top:50%;
    }
    
    .image-landing {
        flex-direction: column;
        width: 100%;
        height: 800px;
        flex-wrap: wrap;
        padding: 120px 0 0 0;
    }

    #section2{
        margin: 10% 0;
    }

    #section2 h2 {
        border-bottom: #00B172 solid 1px;
        display: inline-block;
        text-align: center;
        position: relative;
        left: 43%;
    }
    
    .divIcons{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .divIcons div{
        text-align: center;
        width: 30%;
    }

    .divIcons h4{
        color: #00B172;
    }

    .divIcons  img{
        width: 40%;
    }
    

    #section3{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        background-color: #00B172;
        color: #fff;
        align-items: center;
    } 
    
    #section3 div{
        text-align: center;
    }

    #textKanye{
        text-align: left !important;
        padding: 5%;
    }

    #textKanye > div{
        text-align: left !important;
    }

    #section3 h4{
        font-weight: bold;
    }

    #section3 h2{
        text-decoration: underline;
    }

    #iconApp{
        width: 30%;
    }

    #imgKanye{
        width: 50%;
    }