/*
Colors:

Text: 1A1A1A
Green: #00B172
White: #FFF

*/

* {
    font-size: 15px;
    margin: 0 auto;
    padding: 0;
    text-align: center;
}

#box1 {
   border: 1px solid #fff;
   height: 30px;
   margin-bottom: 10px;
   min-width: 725;
   padding-top: 10px;
   width: 75%;
}

#image-logo {
    width: 50%;
    height: 75px;
    
}

#image-landing {
    object-fit: cover;
    width: 100%;
    height: 100%;
}


