@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Open+Sans:ital,wght@0,500;1,400&display=swap');

*{
   padding: 0 auto;
   margin: 0;
}

body{
    font-family: "open sans", sans-serif;
    font-size: 1rem;
}

.apple-img {

  height: 900px ;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  left: 300px;
  /*he conseguido "centrar" la imagen y me ha desapareciodo el h1 apple pie*/
}

#container h1 {
    font-size: 4rem;
    text-align: center;
    position: relative;
    top: 450px;
    color: #fff;
    
}

#container p {
    padding: 10px 50px;
    text-align: justify;
}

.recipe-info {
    position: relative;
    left: 450px;
    width: 50%;
}

#ingredients h4 {
    font-size: 1.5rem;
    padding: 10px 0 10px 0;
    position: relative;
    left: 100px;
}

#ingredients ul {
    padding: 10px 0 10px 0;
    position: relative;
    left: 100px;
}

.cooking-info {
    position: relative;
    left: 450px;
    width: 50%;
}

#directions h4 {
    font-size: 1.5rem;
    padding: 10px 0 10px 0;
    position: relative;
    left: 100px;
}

#directions ol {
    padding: 10px 0 10px 0;
    position: relative;
    left: 100px;
}

#directions ol li {
    text-decoration: none;
}